.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; height: 24px; width: 24px; }
.material-icons.md-36 { font-size: 36px; height: 36px; width: 36px; }
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

.material-icons.md-button {
  cursor: pointer;
}

:not(.mdc-list-item.selected) .material-icons:not(.mdc-theme--primary):not(.mdc-theme--accent) {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.material-icons.md-inactive  {
  color: rgba(0, 0, 0, 0.26) !important;
  color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.26)) !important;
}

:not(.mdc-list-item.selected) .material-icons.md-dark:not(.mdc-theme--primary):not(.mdc-theme--accent) {
  color: rgba(255, 255, 255, 1);
  color: var(--mdc-theme-text-primary-on-dark, rgba(255, 255, 255, 1));
}
.material-icons.md-dark.md-inactive  {
  color: rgba(255, 255, 255, 0.3) !important;
  color: var(--mdc-theme-text-disabled-on-dark, rgba(255, 255, 255, 0.3)) !important;
}

.mdc-grid-list .mdc-grid-tile__icon {
  position: absolute;
}

.mdc-grid-list .mdc-grid-tile__icon.mdc-icon-toggle {
  color: inherit;
}

.mdc-grid-list .mdc-grid-tile__icon.mdc-icon-toggle:before,
.mdc-grid-list .mdc-grid-tile__icon.mdc-icon-toggle:after {
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
}

.mdc-toolbar__row .mdc-tab-bar {
  margin-top: -4px;
}

.mdc-toolbar__row .mdc-tab-bar--icons-with-text {
  margin-top: -28px;
}

.md-page {
  display: none;
}

.md-page.md-page--active {
  display: inherit;
}
